<div class="socials">
  <a href="https://twitter.com/QuintenDes" target="_blank"><i class="fa fa-twitter-square"></i></a>&nbsp;
  <a href="https://github.com/Qkyrie" target="_blank"><i class="fa fa-github"></i></a>&nbsp;
  <a href="https://www.linkedin.com/in/quinten-de-swaef-562a8826" target="_blank"><i class="fa fa-linkedin-square"></i></a>&nbsp;
  <a href="https://de-swaef.eu" target="_blank"><i class="fa fa-envelope-square"></i></a>
</div>
